<!DOCTYPE html>
<html>
  <head>
    <title>thenewboston</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include templates/header.ejs %>

    <p><%= name %></p>

    <ul>
      <% for(var i=0;i<5;i++){ %>
        <li>tuna</li>
      <% } %>
    </ul>

  </body>
</html>
